{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "homepage/index.css" %}">
  <link rel="stylesheet" href="{% static "homepage/includes/header.css" %}">
{% endblock %}

{% block page_title %}
  {{ blog_post.title }}
{% endblock %}

{% block body_content %}
  {% include "homepage/includes/header.html" %}
  <span class="homepage">
    <div class="body">
      <div class="intro">
        <img src="{% static "homepage/calvin-hobbes-pokemon.jpg" %}">
        <h1 class="intro-header">Jimjam's Blog</h1>
      </div>
      <a class="featured-post" href="{% url "post_by_title" slug %}">
        <h3>
          {{ blog_post.title|title }}
        </h3>
        <p>
          {{ blog_post.body }}
        </p>
      </a>
    </div>
  </span>
{% endblock %}