.body {
  display: flex;
  flex-direction: column;
  padding: 0 20em 0 20em;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(128,0,128,1) 50%, rgba(128,0,128,1) 100%);
}

.featured-post {
  border: solid black;
  border-radius: 20px;
  align-self: center;
  background-color: white;
  padding: 0.5em;
  margin: 10em 0 10em 0;
  text-decoration: none;
}