{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "homepage/index.css" %}">
  <link rel="stylesheet" href="{% static "homepage/includes/header.css" %}">
{% endblock %}

{% comment %}
  for some reason, you MUST use dot notation when reference key-value pairs in a template e.g. blog_post.title, not blog_post["title"]
{% endcomment %}

{% block page_title %}
  {{ blog_post.title }}
{% endblock %}

{% block body_content %}
  {% include "homepage/includes/header.html" %}
  <div class="body">
    <h1>{{ blog_post.title }}</h1>
    <p>
      {{ blog_post.body }}
    </p>
    <time>
      {{ blog_post.date|date:"SHORT_DATE_FORMAT" }}
    </time>
  </div>
{% endblock %}