{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "homepage/index.css" %}">
  <link rel="stylesheet" href="{% static "blog/posts.css" %}">
  <link rel="stylesheet" href="{% static "homepage/includes/header.css" %}">
{% endblock %}

{% block page_title %}
  All Posts
{% endblock %}

{% block body_content %}
  {% include "homepage/includes/header.html" %}
  <div class="body">
    <h1>All Posts</h1>
    <div class="posts-list">
      {% for title in titles %}
        {% url "post_by_title" title.slug as post_link %}
        <a class="post" href={{ post_link }}>
          {% comment %}
            while you don't need to use the url template tag here since the url is solely comprised of the slug, you definitely always should in case the URL path changes. that way, you don't have to update the path here because you're referencing the URL name and not its path text
          {% endcomment %}
          <p>{{ title.title }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}