{% extends "base.html" %}

{% block page_title %}
  All Posts
{% endblock %}

{% block body_content %}
  <h1>All Posts</h1>
  <ul>
    {% for title in titles %}
    <li>
      {% comment %}
        you actually don't need to use the url template tag here since the url is solely comprised of the slug. maybe it would be more appropriate for a situation where you reference an endpoint in another app but this is unnecessary. the same scenario occurs in monthly_challenges where we needlessly use {% url %}
      {% endcomment %}
      {% url "post_by_title" title.slug as post_link %}
      <a href={{ post_link }}>{{ title.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}